<!DOCTYPE html>
<html>
    <head>
        <title>Stube</title>
        {{ template "head.html" }}
        <script type="application/javascript" src="/static/home.js"></script>
    </head>
    <body>
        <nav><a href="/">Stube</a></nav>
        <main>
            <div id="homeview">
                {{ range $m := .Playlist }}
                    <a href="/v/{{ $m.Ref }}" title="{{ $m.Title }}" name="{{ $m.ID }}" key="{{ $m.ID }}￨{{ $m.Title }}￨{{ $m.Album }}￨{{ $m.Artist }}">
                        <img loading="lazy" {{ if $m.ThumbType }} src="/t/{{ $m.Ref }}" {{else}} src="/static/default.svg" class="invert-light" {{ end }}>
                        <div>
                            <h1>{{ $m.Title }}</h1>
                            {{ if $m.Album }}
                                <h2>{{ $m.Album }}</h2>
                            {{ end }}
                            <h2>{{ $m.Modified }}</h2>
                        </div>
                    </a>
                {{ end }}
            </div>
        </main>
    </body>
</html>
