{{ $playing := .Playing }}
<div id="mask">
    <h1>{{ $playing.Title }}</h1>
    <button id="left"></button>
    <button id="center"></button>
    <button id="right"></button>
    <div id="control">
        <input id="seeker" type="range" value="0" min="0" max="0">
        <div>
            <button id="play-pause"></button>
            <button id="loop"></button>
            <div id="current"></div>
            <button id="volume-icon"></button>
            <input id="volume" type="range" value="0" min="0" max="1" step="0.000001">
        </div>
        <div>
            <button id="captions"></button>
            <button id="screenshot"></button>
            <button id="playspeed"></button>
            <button id="embedlink" href="/e/{{ $playing.Ref }}"></button>
            <button id="filelink" href="/f/{{ $playing.Ref }}"></button>
            <button id="collapse"></button>
            <button id="fullscreen"></button>
        </div>
    </div>
</div>
<video id="video" controls {{ if $playing.ThumbType }} poster="/t/{{ $playing.Ref }}" style="background-image: url(/t/{{ $playing.Ref }});" {{else}} poster="/static/default.svg" {{ end }} preload="metadata" playsinline>
    {{ range $m := .Captions }}
        {{ if eq $m.Origin $playing.FileName $playing.BaseName }}
            <track kind="captions" srclang="{{ $m.SrcLang }}" src="/f/{{ $m.Ref }}" label="{{ $m.SrcLang }}" />
        {{ end }}
    {{ end }}
    <source src="/f/{{ $playing.Ref }}" />
    Your browser does not support this file format. ({{ $playing.FileType }} {{ $playing.Format }})
</video>